<a href="https://colab.research.google.com/github/Nani81438/Vn2T03/blob/main/data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LISTS**

In [1]:
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [2]:
len(lst)

5

In [3]:
print (lst[2])

3

In [4]:
print (lst[0:3])

[1, 2, 3]

In [5]:
print (lst[-1])

5

In [6]:
if 1 in lst:
  print ("yes")
else:
  print ("no")

yes

In [7]:
#changing with indexing
lst[0] = 7
lst

[7, 2, 3, 4, 5]

In [9]:
lst[1:3]= [8,9]
lst

[7, 8, 9, 4, 5]

In [10]:
# insert
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [11]:
# append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [12]:
#Extend
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [13]:
# remove = removes particular item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [14]:
# pop = removes the given index item
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [15]:
# removes the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [16]:
# delete = deletes the entire list
thislist = ["apple", "banana", "cherry"]
del thislist

In [17]:
# clear = The list still remains, but it has no content.
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [18]:
# loop through a list using for loop
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [21]:
#loop through a list using while loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [23]:
# prints if a alphabet is present in the word
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

#newlist = [x for x in fruits if x != "apple"]

['apple', 'banana', 'mango']

In [24]:
# sorting the list in ascending order
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [25]:
# sorting in descending order
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [28]:
#Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [27]:
import copy
list1 = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
list2 = copy.copy(list1)
print ("old list :", list1)
print ("old list :", list1)

old list : [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
old list : [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [29]:
#Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [30]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [31]:
# copying a list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [32]:
# joins two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]


Method	   Description

append()	  Adds an element at the end of the list

clear()   	Removes all the elements from the list

copy()	    Returns a copy of the list

count()   	Returns the number of elements with the specified value

extend()	   Add the elements of a list (or any iterable), to the end of the          current list

index()	    Returns the index of the first element with the specified value

insert()	  Adds an element at the specified position

pop()	     Removes the element at the specified position

remove()   	Removes the item with the specified value

reverse()	  Reverses the order of the list

sort()    	Sorts the list

**TUPLES**

In [33]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [34]:
#Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [35]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [36]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [37]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [38]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [39]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [40]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [42]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [43]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [45]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print (thistuple)

('banana', 'cherry')

In [46]:
#The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

In [47]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits = ("apple", "banana", "cherry")
#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [48]:
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [49]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [50]:
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [51]:
#Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [52]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [53]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [54]:
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description

count()	Returns the number of times a specified value occurs in a tuple

index()	Searches the tuple for a specified value and returns the position of where it was found

**SETS**

*Set items are unordered, unchangeable, and do not allow duplicate values.

In [55]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [56]:
# do not allow duplicate values
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [57]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [59]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [60]:
#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'pineapple', 'papaya', 'cherry', 'apple', 'banana'}

In [61]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'banana', 'orange', 'kiwi', 'apple'}

In [62]:
#To remove an item in a set, use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [63]:
#Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [64]:
#Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [65]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [66]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

In [68]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [70]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [71]:
#Note: Both union() and update() will exclude any duplicate items.

In [72]:

#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [73]:
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [74]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'banana', 'microsoft'}

Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in
                    another, specified set
discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set
remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others

**DICTIONARIES**

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [76]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [77]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [78]:
print(len(thisdict))

3

In [80]:
x = thisdict.get("model") # prints the value of model key
x

'Mustang'

In [81]:
x = thisdict.keys() # gives the list of keys
x

dict_keys(['brand', 'model', 'year'])

In [82]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [83]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 2020])

In [85]:
#Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [86]:
x = thisdict.items() # gives both the key value pairs
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [87]:
#Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [88]:
#Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [89]:
#Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [90]:
#The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [91]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [93]:
#The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [96]:
#The del keyword can also delete the dictionary completely:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict{}
print(thisdict) #this will cause an error because "thisdict" no longer exists

SyntaxError: ignored

In [97]:
#The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [98]:
#Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [100]:
#Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [101]:
#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

Method	Description

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and value

get()	Returns the value of the specified key

items()	Returns a list containing a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not 

exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary