<a href="https://colab.research.google.com/github/Nani81438/python/blob/main/practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**VARIABLES**

In [ ]:
#variable exercises
x = 5
y = "John"
c = 5.25
d = True
e = 2+5j
print(type(x))
print(type(y))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
#legal variables
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#assigning multiple values to multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#assigning single value to multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#unpacking
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output variables
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = 5
y = 10
print(x + y)

Python is awesome
15

In [ ]:
#global variables - we can use in entire function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome" # gloabal variable

def myfunc():
  x = "fantastic"    # local variable
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**DATA** **TYPES**

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [ ]:
a = "Hello World"	
print ("a is a: ",type(a))
b = 20
print ("b is a: ",type(b))	
c = 20.5
print ("c is a: ",type(c))		
d = 1j	
print ("d is a: ",type(d))	
e = ["apple", "banana", "cherry"]
print ("e is a: ",type(e))	
f = ("apple", "banana", "cherry")	
print ("f is a: ",type(f))
g = range(6)	
print ("h is a: ",type(g))
h = {"name" : "John", "age" : 36}	
print ("h is a: ",type(h))	
i = {"apple", "banana", "cherry"}
print ("i is a: ",type(i))	
j = frozenset({"apple", "banana", "cherry"})	
print ("j is a: ",type(j))
k = True
print ("k is a: ",type(k))
l = b"Hello"	
print ("l is a: ",type(l))
m = bytearray(5)
print ("m is a: ",type(m))
n = memoryview(bytes(5))
print ("n is a: ",type(n))	
o = None
print ("o is a: ",type(o))

a is a:  <class 'str'>
b is a:  <class 'int'>
c is a:  <class 'float'>
d is a:  <class 'complex'>
e is a:  <class 'list'>
f is a:  <class 'tuple'>
h is a:  <class 'range'>
h is a:  <class 'dict'>
i is a:  <class 'set'>
j is a:  <class 'frozenset'>
k is a:  <class 'bool'>
l is a:  <class 'bytes'>
m is a:  <class 'bytearray'>
n is a:  <class 'memoryview'>
0 is a:  <class 'NoneType'>

**STRINGS**

In [ ]:
#strings
a = "Hello, World!" # indexing
print(a[1])

e

In [ ]:
#looping through a string
for x in "prasanna ":
  print(x)

p
r
a
s
a
n
n
a

In [ ]:
# length of string
a = "Thanneeru Ganga Prasanna Kumar"
print(len(a))

30

In [ ]:
#checking word in a string
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
print("expensive" not in txt)

True
True

In [ ]:
#slicing
b = "Thanneeru Ganga Prasanna Kumar"
print(b[2:30:5]) # start,stop,step
print(b[:5]) # upto 5 from starting
print(b[2:]) #from 2 to last

arnrnm
Thann
anneeru Ganga Prasanna Kumar

In [ ]:
#string methods
b = "Thanneeru Ganga Prasanna Kumar hfhvh     4645  "
b.capitalize()      # 	Converts the first character to upper case
b.casefold()        # 	Converts string into lower case
#b.center("Thanneeru Ganga Prasanna Kumar hfhvh     4645  ")          # 	Returns a centered string
b.count('g')           # 	Returns the number of times a specified value occurs in a string
b.encode()          # 	Returns an encoded version of the string
b.endswith('5')        # Returns true if the string ends with the specified value
b.expandtabs()      #Sets the tab size of the string
b.find('g')            # 	Searches the string for a specified value and returns the position of where it was found
b.format()          #Formats specified values in a string
b.format_map('a')      # 	Formats specified values in a string
b.index('h')           # Searches the string for a specified value and returns the position of where it was found
b.isalnum()         # 	Returns True if all characters in the string are alphanumeric
b.isalpha()         # Returns True if all characters in the string are in the alphabet
b.isascii()         # 	Returns True if all characters in the string are ascii characters
b.isdecimal()       #Returns True if all characters in the string are decimals
b.isdigit()         #	Returns True if all characters in the string are digits
b.isidentifier()    #	Returns True if the string is an identifier
b.islower()         #	Returns True if all characters in the string are lower case
b.isnumeric()         #	Returns True if all characters in the string are numeric
b.isprintable()      #	Returns True if all characters in the string are printable
b.isspace()          #	Returns True if all characters in the string are whitespaces
b.istitle()          #Returns True if the string follows the rules of a title
b.isupper()          #Returns True if all characters in the string are upper case
b.join('k')            #	Converts the elements of an iterable into a string
#b.ljust('g')           #Returns a left justified version of the string
b.lower()           #Converts a string into lower case
b.lstrip()          #	Returns a left trim version of the string
#b.maketrans('j':'h')        #	Returns a translation table to be used in translations
b.partition('g')       #	Returns a tuple where the string is parted into three parts
b.replace("g","G")          #	Returns a string where a specified value is replaced with a specified value
b.rindex("g")         #Searches the string for a specified value and returns the last position of where it was found
#b.rjust("h")          #	Returns a right justified version of the string
b.rfind("h")           #	Searches the string for a specified value and returns the last position of where it was found
b.rpartition("h")     #	Returns a tuple where the string is parted into three parts
b.rsplit()         #	Splits the string at the specified separator, and returns a list
b.rstrip()         #Returns a right trim version of the string
b.split()          #	Splits the string at the specified separator, and returns a list
b.splitlines()      #Splits the string at line breaks and returns a list
b.startswith("g")   #Returns true if the string starts with the specified value
b.strip()        #	Returns a trimmed version of the string
b.swapcase()     #Swaps cases, lower case becomes upper case and vice versa
b.title()       #	Converts the first character of each word to upper case
b.translate("h") 	#Returns a translated string
b.upper() #	Converts a string into upper case
#b.zfill("j") #Fills the string with a specified number of 0 values at the beginning

'THANNEERU GANGA PRASANNA KUMAR HFHVH     4645  '

Keywords:

Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:

Keyword 	Description

and	        A logical operator

as      	To create an alias

assert  	For debugging

break   	To break out of a loop

class   	To define a class

continue	To continue to the next iteration of a loop

def	        To define a function

del     	To delete an object

elif    	Used in conditional statements, same as else if

else    	Used in conditional statements


except  	Used with exceptions, what to do when an exception occurs

False   	Boolean value, result of comparison operations

finally	    Used with exceptions, a block of code that will be executed no 

matter if there is an exception or not

for     	To create a for loop

from    	To import specific parts of a module

global  	To declare a global variable

if      	To make a conditional statement

import  	To import a module

in      	To check if a value is present in a list, tuple, etc.

is      	To test if two variables are equal

lambda  	To create an anonymous function

None    	Represents a null value

nonlocal	To declare a non-local variable

not	        A logical operator

or      	A logical operator

pass    	A null statement, a statement that will do nothing

raise   	To raise an exception

return  	To exit a function and return a value

True    	Boolean value, result of comparison operations

try     	To make a try...except statement

while   	To create a while loop

with    	Used to simplify exception handling

yield   	To end a function, returns a generator

# Operators are used to perform operations on variables and values.

# In the example below, we use the + operator to add together two values.

# Python divides the operators in the following groups:

#     Arithmetic operators

#     Assignment operators

#     Comparison operators

#     Logical operators

#     Identity operators

#     Membership operators

#     Bitwise operators




Arithemetic operators:


+ 	Addition 	x + y

- 	Subtraction 	x - y

* 	Multiplication 	x * y

/ 	Division 	x / y

% 	Modulus 	x % y

** 	Exponentiation 	x ** y

// 	Floor division 	x // y

Assignment Operators:

= --	x = 5 --	x = 5

+= --	x += 3 --	x = x + 3

-= --	x -= 3 --	x = x - 3

*= --	x *= 3 --	x = x * 3

/= --	x /= 3 --	x = x / 3

%= --	x %= 3 --	x = x % 3

//= --  x //= 3 --  x = x // 3

**= --  x **= 3 --  x = x ** 3

&= --	x &= 3 --	x = x & 3

|= --	x |= 3 --	x = x | 3

^= --	x ^= 3 --	x = x ^ 3

>>= -- x >>= 3 --  x = x >> 3

<<=  --x <<= 3 --  x = x << 3

Comparison Operators:

== 	Equal 	x == y

!= 	Not equal 	x != y

> 	Greater than 	x > y

< 	Less than 	x < y

>= 	Greater than or equal to 	x >= y

<= 	Less than or equal to 	x <= y

Logical Operators:

and  	Returns True if both statements are true 	x < 5 and  x < 10

or  	Returns True if one of the statements is true 	x < 5 or x < 4

not 	Reverse the result, returns False if the result is true 	not(x < 5 and x 
< 10)

Identity Operators:

is  	Returns True if both variables are the same object 	x is y

is not 	Returns True if both variables are not the same object 	x is not y

Membership Operators:

in  	Returns True if a sequence with the specified value is present in the 

object 	x in y

not in 	Returns True if a sequence with the specified value is not present in 

the object 	x not in y

Bitwise Operators:

&  	AND 	Sets each bit to 1 if both bits are 1

| 	OR 	    Sets each bit to 1 if one of two bits is 1

 ^ 	XOR 	Sets each bit to 1 if only one of two bits is 1

~  	NOT 	Inverts all the bits

<< 	Zero fill left shift    Shift left by pushing zeros in from the right and 
let the leftmost bits fall off

>> 	Signed right shift  	Shift right by pushing copies of the leftmost bit in 
from the left, and let the rightmost bits fall off

In [ ]:
num = []
num.append(2)
num.append(10.5)
num.append("vamsi")
print (num)

[2, 10.5, 'vamsi']

In [ ]:
# Python program to illustrate
# functions
def hello():
	print("hello")
	print("hello again")
hello()

# calling function
hello()

hello
hello again
hello
hello again

In [ ]:
# Python code to demonstrate working of iskeyword()

# importing "keyword" for keyword operations
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Using for loop
for i in range(10):

	print(i, end = " ")
	
	# break the loop as soon it sees 6
	if i == 10:
		break
	
print()
	
# loop from 1 to 10
'''i = 0
while i <10:
	
	# If i is equals to 6,
	# continue to next iteration
	# without printing
	if i == 6:
		i+= 1
		continue
	else:
		# otherwise print the value
		# of i
		print(i, end = " ")
		
	i += 1'''

0 1 2 3 4 5 6 7 8 9

'i = 0\nwhile i <10:\n\t\n\t# If i is equals to 6,\n\t# continue to next iteration\n\t# without printing\n\tif i == 6:\n\t\ti+= 1\n\t\tcontinue\n\telse:\n\t\t# otherwise print the value\n\t\t# of i\n\t\tprint(i, end = " ")\n\t\t\n\ti += 1'

In [ ]:
# var1 is in the global namespace
var1 = 5
def some_func():

	# var2 is in the local namespace
	var2 = 6
	def some_inner_func():

		# var3 is in the nested local
		# namespace
		var3 = 7

In [ ]:
# Python program processing
# global variable

count = 5
def some_method():
	global count
	count = count + 1
	print(count)
some_method()

6